extends ../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
	+b.MAIN.main_home
		.container
			+e.row
				+e.col_sidebar-left
					+b-sidebar_left()

				+e.col_content
					+b.chat(id="chat")
						// company
						+e.company
							+e.company-col_1
								+e.company-box-img
									+e.IMG(src="img/avatar-1.png").company-img
							+e.company-col_2
								+e.company-name Orange — строительная компания
								+e.company-text Логотип, фирменный стиль, посадочная страница
							+e.company-col_3
								+e.company-btn_search.fa.fa-search
								+e.company-btn_more.fa.fa-ellipsis-h
						// list
						+e.list(id="chat__list")
							+e.list-out(id="chat__list-out")

						// form
						+e.FORM(data-ctr="chat.php" data-action="add" id="chat__form" enctype="multipart/form-data").form
							+e.INPUT(type="file" name="file[]" id="chat__form-file" multiple).form-file
							+e.LABEL(for="chat__form-file").form-label_file.fa.fa-paperclip
							+e.form-box-textarea
								+e.TEXTAREA(name="text" placeholder="Напишите сообщение ..." id="chat__form-textarea").form-textarea
							+e.INPUT(type="submit" id="chat__form-btn").form-btn.btn_regular Отправить


				+e.col_sidebar-right
					+b-sidebar_right()