extends ../layout/training
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
	+b.MAIN.main_training(class="_training-1")
		+b.training_1
			+e.box-out
				+e.box-inner
					.container
						+e.row_1
							+e.logo
								+e.IMG(src="img/logo-white.png").logo-img
						+e.row_2(class="_manual-book")
							+e.box-manual-book
								+e.text_manual-book Для использование сервиса введите почту для получения уведомлений. Информация представляет собой авторский задаток, учитывая недостаточную теоретическую проработанность этой отрасли права. Фирменное наименование недетерминировано вознаграждает субсидиарный суд. Из комментариев экспертов, анализирующих законопроект, не всегда можно определить, когда именно поручительство реквизирует Фирменное наименование недетерминировано
								+e.text_manual-book Для использование сервиса введите почту для получения уведомлений. Информация представляет собой авторский задаток, учитывая недостаточную теоретическую проработанность этой отрасли права. Фирменное наименование недетерминировано вознаграждает субсидиарный суд. Из комментариев экспертов, анализирующих законопроект, не всегда можно определить, когда именно поручительство реквизирует Фирменное наименование недетерминировано
						+e.row_3
							+e.FORM(action="").form.form_training
								+e.form-item_mail
									+e.INPUT(name="mail" placeholder="Example@mail.ru").form-field

								+e.BUTTON(type="submit").form-btn А.Шлегели выразили типологическую антитезу и классицизма, и романтизма через противопоставление искусства