mixin b-footer()
	+b.FOOTER.footer
		.container
			+e.row
				+e.A(href="#").link Политика конфиденциальности

mixin b-footer_training()
	+b.FOOTER.footer_training
		+e.row
			+e.A(href="#").link Политика конфиденциальности